attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
constantly==15.1.0
enum-compat==0.0.2
eventlet==0.21.0
greenlet==0.4.12
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
lxml==4.0.0
psycopg2==2.7.3.1
redis==2.10.6
requests==2.18.4
six==1.11.0
Twisted==17.5.0
urllib3==1.22
zope.interface==4.4.2
